<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
    <title>{% block title %}{% endblock %} | Micah Walter</title>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" >

    {% block mode %}
    {% if request.cookies['mode'] == 'dark' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dark.css') }}" >

    {% endif %}
    {% endblock %}

</head>

<body>
    {% block nav %}
    <nav>
        <a href="/">Home</a> |
        <a href="/updates">Updates</a> |
        <a href="/photos">Photos</a> |
        <a href="/videos">Videos</a> |
        
        {% if request.cookies['mode'] == 'dark' %}
        <a href="/mode">Light Mode</a>
        {% else %}
        <a href="/mode">Dark Mode</a>
        {% endif %}

    </nav>
    {% endblock %}

    <br /><br />
    <form action="/search">
        Search: <input type="search" name="q"><input type="submit">
    </form>

    <div id="content">
        {% block content %}{% endblock %}
        {% if pagination %}
            {% if pagination.page > 1 %}<a href="?page={{ pagination.page - 1 }}" >Previous Page</a> | {% endif %}{% if pagination.page < pagination.total_pages %}<a href="?page={{ pagination.page + 1 }}" >Next Page</a>{% endif %}
        {% endif %}
    </div>

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2019 - Micah Walter</a>.
        {% endblock %}
    </div>
</body>
</html>