{% extends "base.html" %}

{% block mode %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dark.css') }}" >
{% endblock %}

{% block title %}Dark Mode!!!{% endblock %}

{% block nav %}
<nav>
    <a href="/">Home</a> |
    <a href="/updates">Updates</a> |
    <a href="/photos">Photos</a> |
    <a href="/videos">Videos</a> |
    

    <a href="/mode">Light Mode</a>

</nav>
{% endblock %}

{% block content %}
<h1>Welcome to Dark Mode!</h1>
{% endblock %}