{% extends "base.html" %}

{% block mode %}
{% endblock %}

{% block title %}Light Mode!!!{% endblock %}

{% block nav %}
<nav>
    <a href="/">Home</a> |
    <a href="/updates">Updates</a> |
    <a href="/photos">Photos</a> |
    <a href="/videos">Videos</a> |
    

    <a href="/mode">Dark Mode</a>

</nav>
{% endblock %}
{% block content %}
<h1>Welcome to Light Mode!</h1>
{% endblock %}