{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<h3>There are {{ pagination.total }} photos in this archive, and this is page {{ pagination.page }} of {{ pagination.total_pages }}</h3>

{% for photo in photos %}
<h2><a href="{{ photo['_id'] }}">{{ photo['_source']['title'] }}</a></h2>
<a href="{{ photo['_id'] }}"><img src="{{ photo['_source']['url'] }}" /></a>
<hr>
{% endfor %}

{% endblock %}