{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

{% for result in results %}
<h2><a href="{{ result['_source']['type'] }}/{{ result['_id'] }}">{{ result['_source']['title'] }}</a></h2>
{% endfor %}

{% endblock %}