{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

{% for update in updates %}
<h2><a href="{{ update['_id'] }}">{{ update['_source']['title'] }}</a></h2>
{% endfor %}

{% endblock %}