{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

{% for video in videos %}
<h2><a href="{{ video['_id'] }}">{{ video['_source']['title'] }}</a></h2>
<video  controls poster="{{ video['_source']['poster'] }}">
    <source src="{{ video['_source']['url'] }}" type="video/mp4">
    <source src="{{ video['_source']['url_webm'] }}" type="video/webm">
    <source src="{{ video['_source']['url_ogg'] }}" type="video/ogg">
</video>
<hr>
{% endfor %}

{% endblock %}
