{% extends "base.html" %}
{% block title %}{{ post['title'] }}{% endblock %}

{% block content %}

<h1>{{ post['title'] }}</h1>

<video  controls poster="{{ post['poster'] }}">
    <source src="{{ post['url'] }}" type="video/mp4">
    <source src="{{ post['url_webm'] }}" type="video/webm">
    <source src="{{ post['url_ogg'] }}" type="video/ogg">

</video>

{{ post['html'] | safe }}
{% endblock %}